<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{{ document.title }}</title>
<style>{% include "_styles.css.j2" %}</style>
{% block extra_styles %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
